@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.content {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.content p {
  margin-top: 30px;
}

input {
  color: var(--color-background);
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  padding: 13px 10px;
  font-size: 17px;
  margin-right: 10px;
}

.button {
  background-color: var(--color-text);
  border: 2px solid var(--color-background);
  color: var(--color-background);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color-background);
    border-color: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
